table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  /* width: 50%; */
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}


.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

.filter-container {
  justify-content: center;
  display: flex;
}

.titre{
  text-align: center!important;
  margin-top: 6px;
}

.addTraductionSelect{
  width: 240px;
}

.searchBlock{
  width: 240px;
  color: aliceblue!important;
  background-color: rgb(72, 4, 80)!important;
}



