<div class="container">
  <h1 class="titre"><b>Liste des suggestions de traductions</b></h1>
  <hr>
  <div class="filter-container">
    <button (click)="onLanguageSelected(languageToTranslate)" mat-raised-button color="primary">Ajouter une traduction de {{languageToTranslate}}</button>
  </div>
  <button (click)="logout()" id="close-session" mat-raised-button color="warn">Fermer X</button>
  <div class="spinner" *ngIf=this.spinnerView></div>
  <mat-form-field class="searchBlock">
    <mat-label>Recherchez dans le tableau</mat-label>
    <input id="inputSearch" matInput (keyup)="applyFilter($event)" placeholder="Ex ium" #input>
  </mat-form-field>

  <div class="mat-elevation-z8 demo-table">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="langue.source">
        <th mat-header-cell *matHeaderCellDef> Langue source </th>
        <td mat-cell *matCellDef="let element"> {{element.langueSource}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Expression originale">
        <th mat-header-cell *matHeaderCellDef> original Expression </th>
        <td mat-cell *matCellDef="let element"> {{element.expressionSource}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="langue.traduction">
        <th mat-header-cell *matHeaderCellDef> Langue traduction </th>
        <td mat-cell *matCellDef="let element"> {{element.langueTraduite}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Expression traduite">
        <th mat-header-cell *matHeaderCellDef> Expression traduite</th>
        <td mat-cell *matCellDef="let element"> {{element.expressionTraduite}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="auteur">
        <th mat-header-cell *matHeaderCellDef> Auteur </th>
        <td mat-cell *matCellDef="let element"> {{element.emailPersonne}} </td>
      </ng-container>


      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="audio">
        <th mat-header-cell *matHeaderCellDef> audio </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="playAudio(element.audio)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <!-- Date Column -->
      <ng-container matColumnDef="Date ajout">
        <th mat-header-cell *matHeaderCellDef> Date ajout </th>
        <td mat-cell *matCellDef="let element"> {{getDate(element.dateAjout)}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="openDialogSuggestion(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>


