
<div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(element) : null"
                          [checked]="selection.isSelected(element)"
                          [aria-label]="checkboxLabel(element)">
            </mat-checkbox>
          </td>
        </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="langue.source">
        <th mat-header-cell *matHeaderCellDef> Langue source </th>
        <td mat-cell *matCellDef="let element"> {{element.langueSource}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Expression originale">
        <th mat-header-cell *matHeaderCellDef> Expression originale </th>
        <td mat-cell *matCellDef="let element"> {{element.expressionSource}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="langue.traduction">
        <th mat-header-cell *matHeaderCellDef> Langue traduction </th>
        <td mat-cell *matCellDef="let element"> {{element.langueTraduite}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Expression traduite">
        <th mat-header-cell *matHeaderCellDef> Expression traduite</th>
        <td mat-cell *matCellDef="let element"> {{element.expressionTraduite}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="auteur">
        <th mat-header-cell *matHeaderCellDef> Auteur </th>
        <td mat-cell *matCellDef="let element"> {{element.emailPersonne}} </td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="audio">
        <th mat-header-cell *matHeaderCellDef> audio </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="playAudio(element.audio)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Date ajout">
        <th mat-header-cell *matHeaderCellDef> Date ajout </th>
        <td mat-cell *matCellDef="let element"> {{getDate(element.dateAjout) }}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>


