html, body {
  margin: 0;
  font-family: "Open Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 235, 235);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#video_tutorial {
  display: flex;
  justify-content: center; /* Centre l'élément horizontalement */
  height: 300px;
}

#video_tutorial iframe {
  width: 100%; /* Permet à l'élément de prendre le maximum d'espace en largeur */
  max-width: 560px; /* Limite la largeur de l'élément à 560 pixels */
  height: 100%;
}

.form-control-clearable {
  position: relative;
}

.form-control-clearable span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  height: 22px;
  border-radius: 100px;
}

.form-control-clearable span:hover {
  cursor: pointer;
  background-color: #ff000078;
}
