<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <mat-toolbar color="primary" class="navbar">
    <div>
      <a mat-icon-button href="https://translate.metchoup.com">
        <mat-icon>arrow_back</mat-icon>
        <span>Back to site</span>
      </a>
    </div>
    <div>
      <span><a mat-button routerLink="/home">Home</a></span>
      <span *ngIf="this.userData.connected"><a mat-button>{{this.userData.name}}</a></span>
      <span *ngIf="this.userData.connected"><a mat-button (click)="logout()">Logout</a></span>
      <span><a mat-button routerLink="/settings">Settings</a></span>
      <!-- <span><a mat-button href="https://docs.google.com/spreadsheets/d/1teASvC0Ff0-hcM3sGdSviIColTrJwCv7/edit?usp=sharing&ouid=100190818399729428333&rtpof=true&sd=true">Exce</a></span> -->
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</body>
</html>
