table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  /* width: 50%; */
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}


.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}

.filter-container {
  width: 600px;
  margin-left: auto;
}

.titre{
  text-align: center!important;
  margin-top: 6px;
}
