<h2 mat-dialog-title>Ajouter une traduction depuis le fichier</h2>
<hr>
<form (ngSubmit)="onSubmit()" #suggestionForm="ngForm">
  <mat-dialog-content class="mat-typography">
      <h3 id="textFileTotranslate">{{data.expression}}</h3>
      <mat-form-field class="textFiletranslated">
        <mat-label>text en langue</mat-label>
        <input [(ngModel)]="textFiletranslated" name="textFiletranslated" matInput placeholder="ecrivez votre traduction du texte ci dessus...">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>

      <p *ngIf=this.stateTranslation class="traduction-enregistree">Traduction enregistrée !</p>
      <div class="spinner" *ngIf=this.spinnerView></div>
      <!-- <mat-form-field>
        <mat-label>Uploader un fichier audio</mat-label>
        <input type="file" (change)="onFileSelected($event)" matInput accept="audio/*">
      </mat-form-field> -->

      <div class="audio-recorder">
        <button mat-raised-button (click)="startRecording()" [disabled]="recording">Démarrer l'enregistrement</button>
        <button mat-raised-button (click)="stopRecording()" [disabled]="!recording">Arrêter l'enregistrement</button>
        <audio *ngIf="recordedBlobURL" [(ngModel)]="recordedBlobURL" controls [src]="recordedBlobURL"></audio>
      </div>

      <!-- <mat-form-field>
        <input>
        faire un enregistrement directement sur l'interface
      </mat-form-field> -->

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>

    <button type="submit"
      mat-button mat-raised-button color="primary"
       cdkFocusInitial>Envoyez</button>
  </mat-dialog-actions>
</form>

