.mat-mdc-form-field-infix{
  width: fit-content;
}

.mdc-dialog__content>:last-child{
  width: 500px!important;
}

.textFiletranslated{
  width: 435px;
}

#textFileTotranslate{
  color: greenyellow;
}

.custom-snackbar {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.traduction-enregistree {
  background-color: #4CAF50; /* Couleur de fond verte */
  color: #fff; /* Couleur du texte en blanc */
  border: 2px solid #388E3C; /* Bordure verte plus sombre */
  padding: 10px; /* Espace à l'intérieur de l'encadré */
  border-radius: 5px; /* Coins arrondis pour l'encadré */
  text-align: center; /* Centrer le texte horizontalement */
}



