<h2 id="head-line" mat-dialog-title><b>{{data.occurencyTeacher}}</b> traduction(s) :::
  Solde : {{(data.occurencyTeacher)*50}} FCFA</h2>
<p id="head-lines">Encore {{200-data.occurencyTeacher}} expressions pour retirer votre solde.</p>
<hr>
<form (ngSubmit)="onSubmit()" #suggestionForm="ngForm">
  <mat-dialog-content class="mat-typography">
      <h3 id="textFileTotranslate">{{data.expression}}</h3>
      <mat-form-field class="textFiletranslated">
        <mat-label>texte en {{data.lang}}</mat-label>
        <input required [(ngModel)]="textFiletranslated" name="textFiletranslated" matInput placeholder="ecrivez votre traduction du texte ci dessus...">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>

      <p *ngIf=this.stateTranslation class="traduction-enregistree">Traduction enregistrée !</p>
      <div class="spinner" *ngIf=this.spinnerView></div>
      <!-- <mat-form-field>
        <mat-label>Uploader un fichier audio</mat-label>
        <input type="file" (change)="onFileSelected($event)" matInput accept="audio/*">
      </mat-form-field> -->

      <div class="audio-recorder">
        <button mat-raised-button color="accent" (click)="startRecording()" [disabled]="recording">Lancer l'enregistrement</button>
        <button mat-raised-button (click)="stopRecording()" [disabled]="!recording">Stopper l'enregistrement</button>
        <audio *ngIf="recordedBlobURL" [(ngModel)]="recordedBlobURL" controls [src]="recordedBlobURL"></audio>
      </div>

      <!-- <mat-form-field>
        <input>
        faire un enregistrement directement sur l'interface
      </mat-form-field> -->

  </mat-dialog-content>
  <mat-dialog-actions>
    <button  mat-raised-button mat-dialog-close color="warn">Annuler</button>
    <button type="submit" [disabled]="this.textFiletranslated.length<5"
      mat-button mat-raised-button color="primary"
       cdkFocusInitial>Envoyez</button>
  </mat-dialog-actions>
</form>

